In [ ]:
##Homework BONUS

In [45]:
#Import dependencies
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt

In [68]:
#Path to CSV
database_path = "../EmployeeSQL/departments.csv"

In [ ]:
# Create Engine to connect
engine = create_engine(f"sqlite:///{database_path}")

In [67]:
# Query All Records in the the Database
# data = engine.execute("SELECT * FROM dept_emp")
# for row in data:
#     print(row)
a = pd.read_csv("EmployeeSQL/departments.csv")
a

  dept_no           dept_name
0    d001           Marketing
1    d002             Finance
2    d003     Human Resources
3    d004          Production
4    d005         Development
5    d006  Quality Management
6    d007               Sales
7    d008            Research
8    d009    Customer Service

In [ ]:
#Query the salaries table
salaries = pd.read_sql("SELECT * FROM salaries")
salaries.head()

In [ ]:
#Query the employees table
employees = pd.read_sql("select * from employees", connection)
employees.head()

In [ ]:
#Query the titles table
titles = pd.read_sql("select * from titles",connection)
titles.head()

In [ ]:
#Join 
#first, join salaries to employees on emp_no
emp_sal = employees.merge(salaries, on = "emp_no")
emp_sal.head()

In [ ]:
#Join the titles table to the newly created db on emp_title_id and␣ title_id
final_db = emp_sal.merge(titles, left_on = "emp_title_id", right_on =␣
,→"title_id")
final_db.head()

In [ ]:
#Extract a db of only the titles and salaries
sal_title_db = final_db[['salary','title']]
sal_title_db.head()

In [ ]:
#groupby and mean() for the salaries
#edited to round() to zero digits
sal_title_db.groupby('title')['salary'].mean().round(0)

In [ ]:
#now we can graph these salaries
sal_title_db.hist(column='salary',color = 'salmon')
plt.xlabel('Salary Range')
plt.ylabel('Salary Frequency/Count')
plt.title('Salary Average Distribution')